.avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #ffffff;
  .confirm {
    background: rgba(0, 0, 0, 0.96);
    overflow: hidden;
    width: 100%;
    padding: 10px 0;
    View {
      float: right;
      margin-right: 50px;
      height: 60px;
      line-height: 40px;
      font-size: 30px;
      color: #FFFFFF;
    }
  }
}
