.myinfo {
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #ececec;
  .icon {
    padding: 20px 0;
  }
  .tip {
    padding: 20px 0;
    text-align: center;
    font-size: 28px;
    color: #666666;
  }
  .btn {
    padding: 90px 30px 40px;
    Button.save {
      height: 88px;
      line-height: 88px;
      border: 1px solid #3D79E5;
      border-radius: 10px;
      background: #3D79E5;
      font-size: 36px;
      color: #FFFFFF;
    }
  }
  .at-list__item {
    padding: 24px 30px;
  }
  .at-list__item .item-extra__info {
    padding-right: 40px;
  }
  .at-list__item-extra {
    max-width: 360px;
  }

  .edit {
    padding: 0 20px;
    border: 2px solid #ececec;
    border-radius: 10px;
    height: 80px;
  }
  // .at-float-layout__container {
  //   // max-height: 1200px;
  // }
  // .at-float-layout .layout-body {
  //   // max-height: 1200px;
  // }
  .at-float-layout .layout-body__content {
    min-height: 1000px;
  }
}
