.auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #ffffff;
  .logo {
    margin-bottom: 40px;
    Image {
      width: 324px;
      height: 73px;
    }
  }
  .title {
    font-size: 32px;
    color: #000000;
    // font-weight: bold;
  }
  .btn {
    Button::after {
      border: none;
    }
    Button {
      margin: 140px 0;
      width: 360px;
      height: 84px;
      border: 2px solid #1AAD19;
      border-radius: 10px;
      background: #ffffff;
      font-size: 32px;
      color: #1AAD19;
    }
    Button.login {
      background: #1AAD19;
      color: #ffffff;
    }
  }
  .ag {
    position: fixed;
    bottom: 60px;
    font-size: 24px;
    color: #666666;
    Text {
      color: #1AAD19;
    }
  }
}
