.index {
  // display: flex;
  // flex-direction: column;
  height: 100%;
  background-color: #ececec;
  position: relative;
  .tab {
    background-color: #ececec;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    padding: 30px 0 10px;
    width: 100%;
    height: 60px;
    line-height: 60px;
    font-size: 30px;
    color: #666666;
    View {
      margin-left: 40px;
      position: relative;
      .dot {
        width: 12px;
        height: 12px;
        background: #FF4D4D;
        border-radius: 12px;
        position: absolute;
        right: -10px;
        top: 10px;
      }
    }
    .selected {
      border-bottom: 5px solid #48AEFC;
      color: #040000;
    }
  }
  .content {
    padding-top: 100px;
    // flex: 1;
    height: 100%;
    box-sizing: border-box;
    .content-swiper {
      height: 100%;
      .content-swiper-item {
        height: 100%;
        .content-l {
          height: 100%;
          .content-t {
            height: 60px;
            padding-bottom: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 28px;
            color: #999;
          }
        }
        .content-empty {
          padding: 0 120px;
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          Image {
            width: 300px;
            height: 230px;
            margin-bottom: 60px;
          }
          View {
            font-size: 28px;
            color: #666666;
            text-align: center;
          }
        }
      }
    }
    // position: relative;
    // .content-c {
    //   width: 200%;
    //   height: 100%;
    //   overflow: hidden;
    //   transition: transform 500ms;
    //   .content-l {
    //     width: 50%;
    //     height: 100%;
    //     overflow: auto;
    //     float: left;
    //   }
    // }
    // .left {
    //   transform: translateX(-50%);
    // }
  }

  // .at-tabs__header {
  //   position: fixed;
  //   top: 0;
  //   left: 0;
  //   z-index: 1000;
  //   background: #ececec;
  //   padding: 20px 0;
  // }
  // .at-tabs__item {
  //   flex: none;
  //   padding: 10px 0;
  //   margin-left: 40px;
  // }
  // .at-tabs__body {
  //   padding-top: 80px;
  // }
}
