.setting {
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #ececec;
  .title {
    padding: 20px 0;
  }
  .btn {
    padding: 40px 30px;
    View {
      font-size: 28px;
      color: #666666;
    }
    Button.save {
      margin-bottom: 12px;
      height: 88px;
      line-height: 88px;
      border: 1px solid #3D79E5;
      border-radius: 10px;
      background: #3D79E5;
      font-size: 36px;
      color: #FFFFFF;
    }
  }
  .at-list__item {
    padding: 24px 30px;
  }
  .at-list__item .item-extra__info {
    padding-right: 40px;
  }
  .at-list__item-extra {
    max-width: 360px;
  }
}
